body{
    font-family: 'Montserrat', sans-serif;
}
.container {
    width: 100%; 
    height: 1000px; 
    display: flex;
    flex-direction: column;
}

.colorful-section {
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
}

.section1 {
    background-color: rgb(245, 114, 54);
    padding: 250px;
    
}

.section2 {
    background-color: rgb(230, 230, 230);
    padding: 900px;
    padding-right: 299px;
}

.section3 {
    background-color: rgb(255, 255, 255);
    padding: 400px;
    padding-right: 299px;
}
.section4 {
    background-color: rgb(230, 230, 230);
    padding: 350px;
    padding-right: 299px;
}
.section5 {
    background-color: rgb(245, 114, 54);
    padding: 130px;
    padding-right: 299px;
}
.section6 {
    background-color: rgb(230, 230, 230);
    padding: 790px;
    padding-right: 299px;
}
.section7 {
    background-color: rgb(245, 114, 54);
    padding: 230px;
    padding-right: 299px;
}
.section8 {
    background-color: rgb(46, 46, 46);
    padding: 100px;
    padding-right: 299px;
}
.image img{
    position: absolute;
    top: 80px; 
    left: 230px;
    margin-right: 100px;
    height: 79%;
    width: 55%;
    
   
  }
  .rectangle {
    position: absolute;
    top: 400px;
    right: 290px;
    width: 490px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}
.text{
    font-style:normal;
    padding: 1px 30px 5px 30px;
}
.text p span {
    font-size: 35px;
    color: rgb(44, 43, 43);
    font-weight: normal;
}
.text p sub {
    font-size: 15px;
}
.text p a {
    color: rgb(44, 43, 43);
}
.text p a:hover {
    text-decoration: underline;
    color: rgb(245, 114, 54); 
}
.button a:link, a:visited {
    background-color: rgb(245, 114, 54);
    color: white;
    padding: 20px;
    width: 31%;
    margin-left: 30px;
    border: 1px solid ;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.button a:hover, a:active {
    background-color: rgb(58, 53, 53);
  }
.block {
    text-align: center;
    margin-top: -250px;
    margin-bottom: 120px;
    font-size:40px ;
}
.flex-container {
    display: flex;
    flex-direction: row;
    padding-left: 300px;
    margin: -50px;
    
  }
  
.flex-container  div {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    margin: 1px;
    text-align: left;
    line-height: 75px;
    font-size: 28px;
  }
  
  .flex-container  div img {
    background-color: rgb(245, 114, 54);
    height: 45px;
    width: 45px;
    padding: 15px;
    border-radius: 60%;
  }
  .flex-container div .second-p {
    font-size: 13px;
    line-height: 20px;
    padding-right: 200px;
    margin-top: -10px;
}
.image-container {
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 110px;
}
.image {
    width: 100%;
    height: 100%;
    display: block;
}
